.first-content{
    display: inline-flex;
    flex-direction: column;
    padding: 30px 50px 30px 50px;
    position: relative;
}
.specials{
    display: inline-flex;
    gap: 50px;
}
.image{
    position: relative;
    width: 60%;
}
.offers{
    background-color: #3498db;
    width: 40%;
    border-radius: 20px;
}
.collection{
    display: inline-flex;
    gap: 20px;
    padding-top: 40px;
}
.collection section{
    background-color: rgb(200, 237, 254);
    border-radius: 20px;
    width: 100%;
    padding: 20px;
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
}
.collection section{
    width: 20%;
}