/* styles.module.css */

.container {
  /* Other styles for your section */
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  /* Add box shadow */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.formInput{
    display: inline-flex;
    gap: ;
}