.details{
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    box-sizing: border-box;
    min-width: 850px;
}
.orderInfo{
    display: inline-flex;
    justify-content: space-between;
}
.address{
    display: inline-flex;
    justify-content: space-between;
}
.totalSection{
    width: 100%;
    display: inline-flex;
    justify-content: flex-end;
}

.total{
    display: inline-flex;
}
.header{
    background-color: aliceblue;
}