
  
  .container{
      margin-top:100px;
  }

  .carousel-inner img {
      width: 100%;
      height: 300px;
  }

.c .carousel-indicators {
    position: static;
    margin-top:20px;
}

.c .carousel-indicators > li {
  width:100px;
}

 .c .carousel-indicators li img {
    display: block;
    opacity: 0.5;
 }

  .c .carousel-indicators li.active img {
    opacity: 1;
  }

  .c .carousel-indicators li:hover img {
    opacity: 0.75;
  }

  .carousel-item img{

    width:100%;
  }