.content{
    display: inline-flex;
    align-items: flex-start;
    justify-content: space-between;
}
.image{
    align-self: ;
}
.info{
    display: inline-flex;
    flex-direction: column;
    gap: 20px;
    align-items: flex-start;
}
