.categories{
    display: inline-flex;
    justify-content: space-between;
    width: 100%;
    margin: 0;
    top: 0;
    gap: 10px;
    position: sticky;
    align-items: center;
    padding: 5px 5px 5px 5px;
    background-color: white;
    font-weight: bold;
    box-sizing: border-box;
    box-shadow: black 0px 1px 4px -1px;
    z-index: 100;
}
.menu{
    display: inline-flex;
    align-items: center;
    gap: 20px;
    background-color: rgb(126, 202, 252);
    padding: 20px;
    border-radius: 5px;
}
.ul{
    width: 50%;
    margin: 0;
    padding: 0;
    list-style: none;
    display: inline-flex;
    align-items: center;
    gap: 20px;
    justify-self: flex-start;
    cursor: pointer;
}
.ul a{
    color: w;
}
.outlet{
    padding: 10px 20px 10px 20px;
    border-radius: 5px;
    display: inline-flex;
    justify-content: space-around;
    align-items: center;
    gap: 20px;
}
@media (max-width: 880px) {
    .ul{
        display: none;
    }
}