/* CheckoutForm.css */

.checkout-container {
  width: 100%;
}

/* .checkout-form {
  /* Add form styling (e.g., margins, padding, background) */
/* } */ 

.checkout-form label {
  /* Style labels */
  font-weight: bold;
}

.checkout-form input {
  /* Style input fields */
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: white;
  
}

.card-details {
  display: flex;
  justify-content: space-between;
}

.checkout-button {
  /* Style the "Place Order" button */
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
