.nav{
    display: inline-flex;
    align-items: center;
    padding: 20px 10px 20px 10px;
}
.logoSection{
    display: inline-flex;
    align-items: center;
    gap: 10px;
    width: 30%;
}
.logo{
    border-radius: 50%;
}
.searchCart{
    justify-self: flex-start;
    align-self: center;
    display: inline-flex;
    align-items: center;
    gap: 20px;
    width: 70%;
}
.input{
    width: 40%;
}
.support{
    display: inline-flex;
    gap: 10px;
    align-items: center;
}
.cart{
    display: inline-flex;
    gap: 10px;
    align-items: center;
}
@media (max-width: 440) {
    .nav
    .searchCart{
        justify-self: flex-end;
        align-self: flex-end;
        width: 100%;
    }
    .support{
        align-self: flex-end;
    }
}