.nav{
    display: flex;
    align-items: center;
    padding: 10px 10px 0px 10px;
    gap: 40px;
}
.logoSection{
    display: inline-flex;
    align-items: center;
    gap: 10px;
}
.logo{
    border-radius: 50%;
}
.searchCart{
    justify-self: flex-start;
    align-self: center;
    display: inline-flex;
    align-items: center;
    gap: 20px;
    width: 80%;
}
.input{
    width: 100%;
}
.support{
    display: inline-flex;
    gap: 10px;
    align-items: center;
}
.cart{
    display: inline-flex;
    gap: 10px;
    align-items: center;
}