.nav{
    display: flex;
    align-items: center;
    ju
    padding: 20px 10px 0px 10px;
}
.logo{
    border-radius: 50%;
    width: 25%;
    height: 25%;
}
.searchCart{
    justify-self: flex-start;
    align-self: center;
    display: inline-flex;
    align-items: center;
    gap: 20px;
}